/* AddressGenerator.css */
.address-generator {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.address-generator input, .address-generator select, .address-generator button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}